* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-1: #415a77;
    --color-2: #778da9;
    --color-3: #e0e1dd;
    --color-4: #1b263b;
    --color-5: #000814;
    --transition-1: ease-in .5s;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--color-3);
}

body{
    background-color: var(--color-5);
    color: var(--color-3);
}

header{
    position: fixed;
    top: 0;
    background-color: var(--color-3);
    color: var(--color-5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80px;
}

.logo a{
    color: var(--color-5);
    font-size: 1.4em;
    font-weight: 600;
    border-bottom: 1px solid var(--color-5);
    
}

.logo a:hover{
    color: var(--color-1);
    border-bottom: 1px solid var(--color-1);
    transition: var(--transition-1);
}

nav ul{
    display: flex;
    gap: 14px;
}

nav ul li{
    color: var(--color-5);
    font-size: 1.1em;
    padding: 5px;
}

nav ul a:hover{
    border: 1px solid var(--color-5);
    transition: var(--transition-1);
}

.container {
    margin-top: 100px;
    width: 100%;
}

.titulo{
    text-align: center;
}

#lista-marcas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
}

#lista-marcas button{
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: var(--color-3);
}

#lista-marcas button:hover{
    background-color: var(--color-4);
    transition: var(--transition-1);
}

.active{
    border-radius: 15px;
    border: 2px solid var(--color-3) !important; 
    background-color: var(--color-4) !important;
}